$light-gray: #404040;
$gray: #383838;
$dark-gray: #2f2f2f;

$dark-red: #a10202;
$red: #d40203;

$dark-yellow: #bd910e;
$yellow: #fec009;

$dark-green: #057b37;
$green: #00c955;

.traffic-light {
    background:
        // Red light - circle
        radial-gradient(100% 100%, $red 42%, $dark-red 50%, transparent 51%) 5.6em 2.5em / 8em 8em,
        // Red light - circle shadow
        radial-gradient(100% 100% at 50% 100%, $gray 50%, transparent 51%) 5.35em  -2.25em / 8.5em 8.5em,
        // Red light - square
        radial-gradient(195% 195% at 100% 100%, $light-gray 50%, transparent 51%) 4.6em 1.5em / 1em 1em,
        radial-gradient(195% 195% at 0% 100%, $light-gray 50%, transparent 51%) 13.6em 1.5em / 1em 1em,
        radial-gradient(195% 195% at 0% 0%, $light-gray 50%, transparent 51%) 13.6em 10.5em / 1em 1em,
        radial-gradient(195% 195% at 100% 0%, $light-gray 50%, transparent 51%) 4.6em 10.5em / 1em 1em,
        linear-gradient($light-gray 50%, $light-gray 50%) 5.6em 1.5em / 8em 10em,
        linear-gradient($light-gray 50%, $light-gray 50%) 4.6em 2.5em / 10em 8em,
        // Red light - left ear
        radial-gradient(100% 110% at 85% -4.5%, $dark-gray 50%, transparent 51%) -2.4em 2.5em / 7em 10em,
        radial-gradient(150% 202% at 0% 100%, transparent 50%, $dark-gray 52%) 1.7em 7.1em / 2.5em 2.5em,
        linear-gradient($dark-gray 50%, $dark-gray 50%) 3.6em 7em / 1em 3em,
        // Red light - right ear
        radial-gradient(100% 110% at 15% -4.5%, $dark-gray 50%, transparent 51%) 14.6em 2.5em / 7em 10em,
        radial-gradient(150% 202% at 100% 100%, transparent 50%, $dark-gray 52%) 15em 7.1em / 2.5em 2.5em,
        linear-gradient($dark-gray 50%, $dark-gray 50%) 14.6em 7em / 1em 3em,
        // Separator
        linear-gradient($gray 50%, $gray 50%) 5.6em 11.5em / 8em 0.25em,
        // Yellow light - circle
        radial-gradient(100% 100%, $yellow 42%, $dark-yellow 50%, transparent 51%) 5.6em 12.75em / 8em 8em,
        // Yellow light - circle shadow
        radial-gradient(100% 100% at 50% 100%, $gray 50%, transparent 51%) 5.35em 8em / 8.5em 8.5em,
        // Yellow light - square
        radial-gradient(195% 195% at 100% 100%, $light-gray 50%, transparent 51%) 4.6em 11.75em / 1em 1em,
        radial-gradient(195% 195% at 0% 100%, $light-gray 50%, transparent 51%) 13.6em 11.75em / 1em 1em,
        radial-gradient(195% 195% at 0% 0%, $light-gray 50%, transparent 51%) 13.6em 20.75em / 1em 1em,
        radial-gradient(195% 195% at 100% 0%, $light-gray 50%, transparent 51%) 4.6em 20.75em / 1em 1em,
        linear-gradient($light-gray 50%, $light-gray 50%) 5.6em 11.75em / 8em 10em,
        linear-gradient($light-gray 50%, $light-gray 50%) 4.6em 12.75em / 10em 8em,
        // Yellow light - left ear
        radial-gradient(100% 110% at 85% -4.5%, $dark-gray 50%, transparent 51%) -2.4em 12.75em / 7em 10em,
        radial-gradient(150% 202% at 0% 100%, transparent 50%, $dark-gray 52%) 1.7em 17.35em / 2.5em 2.5em,
        linear-gradient($dark-gray 50%, $dark-gray 50%) 3.6em 17.25em / 1em 3em,
        // Yellow light - right ear
        radial-gradient(100% 110% at 15% -4.5%, $dark-gray 50%, transparent 51%) 14.6em 12.75em / 7em 10em,
        radial-gradient(150% 202% at 100% 100%, transparent 50%, $dark-gray 52%)  15em 17.35em / 2.5em 2.5em,
        linear-gradient($dark-gray 50%, $dark-gray 50%) 14.6em 17.25em / 1em 3em,
        // Separator
        linear-gradient($gray 50%, $gray 50%) 5.6em 21.75em / 8em 0.25em,
        // Green light - circle
        radial-gradient(100% 100%, $green 42%, $dark-green 50%, transparent 51%) 5.6em 23em / 8em 8em,
        // Green light - circle shadow
        radial-gradient(100% 100% at 50% 100%, $gray 50%, transparent 51%) 5.35em 18.25em / 8.5em 8.5em,
        // Green light - square
        radial-gradient(195% 195% at 100% 100%, $light-gray 50%, transparent 51%) 4.6em 22em / 1em 1em,
        radial-gradient(195% 195% at 0% 100%, $light-gray 50%, transparent 51%) 13.6em 22em / 1em 1em,
        radial-gradient(195% 195% at 0% 0%, $light-gray 50%, transparent 51%) 13.6em 31em / 1em 1em,
        radial-gradient(195% 195% at 100% 0%, $light-gray 50%, transparent 51%) 4.6em 31em / 1em 1em,
        linear-gradient($light-gray 50%, $light-gray 50%) 5.6em 22em / 8em 10em,
        linear-gradient($light-gray 50%, $light-gray 50%) 4.6em 23em / 10em 8em,
        // Green light - left ear
        radial-gradient(100% 110% at 85% -4.5%, $dark-gray 50%, transparent 51%) -2.4em 23em / 7em 10em,
        radial-gradient(150% 202% at 0% 100%, transparent 50%, $dark-gray 52%) 1.7em 27.6em / 2.5em 2.5em,
        linear-gradient($dark-gray 50%, $dark-gray 50%) 3.6em 27.5em / 1em 3em,
        // Green light - right ear
        radial-gradient(100% 110% at 15% -4.5%, $dark-gray 50%, transparent 51%) 14.6em 23em / 7em 10em,
        radial-gradient(150% 202% at 100% 100%, transparent 50%, $dark-gray 52%)  15em 27.6em / 2.5em 2.5em,
        linear-gradient($dark-gray 50%, $dark-gray 50%) 14.6em 27.5em / 1em 3em,
        // Traffic light head
        radial-gradient(100% 122% at 50% 113%, $dark-gray 50%, transparent 51%) 6.6em -1.5em / 6em 3em,
    ;
    background-repeat: no-repeat;
    width: 19.2em;
    height: 32em;
    display: inline-block;
}